*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
omf.make
stamp-h1
test-driver
xmldocs.make
gnome-doc-utils.make

/m4/*.m4
!/m4/grilo.m4

/po/*.gmo
/po/*.header
/po/*.sed
/po/*.sin
/po/.intltool-merge-cache
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/grilo-plugins.pot
/po/stamp-it

.*.sw?
.gdb_history
