*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
omf.make
stamp-h1
xmldocs.make

/m4/*.m4
!/m4/grilo.m4

.*.sw?
.gdb_history
