Source: grilo-0.1-plugins
Section: libs
Priority: extra
Maintainer: Juan A. Suarez Romero <jasuarez@igalia.com>
Build-Depends: cdbs, debhelper (>= 5), libgrilo-0.1-dev (>= 0.1.19),
 gnome-common, libglib2.0-dev (>= 2.28.0), libxml2-dev,
 libgupnp-1.0-dev (>= 0.13.0), libgupnp-av-1.0-dev (>= 0.5.0), libsqlite3-dev,
 libgdata-dev, libgcrypt11-dev, libgmime-2.6-dev, libquvi-dev (>= 0.4.0),
 librest-dev (>=0.7.0), libtracker-sparql-0.14-dev,
 libtotem-plparser-dev (>= 3.4.1)
Standards-Version: 3.7.2
Homepage: http://gitorious.org/grilo

Package: grilo-0.1-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgrilo-0.1 (>= 0.1.18)
Description: Grilo framework plugins
 Grilo is a framework that provides access to different sources of
 multimedia content, using a pluggable system.
 .
 This package contains plugins to get information from theses sources:
 .
  - Apple Trailers
  - Blip.TV
  - Bookmarks
  - Filesystem
  - Flickr
  - Gravatar
  - Jamendo
  - Last.fm (for album arts)
  - Local metadata (album arts and thumbnails)
  - Metadata Store
  - Optical Media
  - Podcasts
  - SHOUTCast
  - Tracker
  - UPnP
  - Vimeo
  - Youtube

Package: grilo-0.1-plugins-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, grilo-0.1-plugins
Description: Grilo framework plugins debugging symbols
 Grilo is a framework that provides access to different sources of
 multimedia content, using a pluggable system.
 .
 This package contains unstripped plugins, useful to debug.

